<div class="document-wrapper max-w-5xl mx-auto">
  <div class="docs-list w-full flex justify-start flex-col">
    <div class="title text-blue-600 text-2xl my-3">
      Danh sách mốc thời gian
    </div>
    <div class="docs-item-wrapper w-full">
      <mat-card class="docs-item hover:bg-gray-100 hover:shadow-md" *ngFor="let milestone of milestoneList" [class.mat-elevation-z0]="true"  (click)="onViewDetail(milestone)">
        <mat-card-content>Tiêu đề: {{milestone.title}}</mat-card-content>
        <mat-card-content class="text-gray-500 text-sm">
          Thời gian thực hiện: {{milestone.startDate | date: 'dd/MM/yyyy'}} - {{milestone.endDate | date: 'dd/MM/yyyy'}}
        </mat-card-content>
        <mat-card-content class="text-gray-500 text-sm">
          Trạng thái: {{milestone.status ?? 'Chưa nộp bài'}}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
