<nav
  class="fixed top-0 z-50 w-full bg-white border-b backdrop-blur border-gray-200 dark:bg-gray-800 dark:border-gray-700">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start">
        <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" *ngIf="isLogin"
          type="button" (click)="sidebarService.toggleMobileMenu()"
          class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
          <span class="sr-only">Open sidebar</span>
          <mat-icon>menu</mat-icon>
        </button>
        <a [routerLink]="userRole === ROLE.ADMIN ? '/admin' : userRole === ROLE.MINISTRY ? '/ministry' : '/home'" class="flex ml-2 md:mr-24">
          <img src="https://yu.ctu.edu.vn/images/upload/article/2020/03/0305-logo-ctu.png" class="h-12 mr-3"
            alt="Logo" />
          <div class="flex flex-col justify-start items-start">
            <span class="hidden sm:inline text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white text-blue-600">CTU
              Tms</span>
            <span class="hidden sm:inline text-base font-semibold whitespace-nowrap text-yellow-500">Quản lý luận văn</span>
          </div>
        </a>
      </div>
      <div *ngIf="isLogin"  class="flex justify-start items-center gap-2" >
        <div
        (clickOutside)="isShowNotification = false"
        *ngIf="(userData?.role === ROLE?.STUDENT ||  userData?.role === ROLE?.TEACHER)"
        class="relative">
          <button mat-icon-button class="text-gray-600"  (click)="isShowNotification = !isShowNotification">
            <mat-icon *ngIf="unreadNotificationCount <= 0" matBadgeSize="small" matBadgeColor="primary">notifications</mat-icon>
            <mat-icon *ngIf="unreadNotificationCount > 0" matBadgeSize="small"  [matBadge]="unreadNotificationCount" aria-hidden="false" matBadgeColor="primary">notifications</mat-icon>
          </button>
          <app-notifications *ngIf="isShowNotification"
          [isShowNotification]="isShowNotification"
          (unreadNotification)="onUnreadNotification($event)"

          ></app-notifications>
        </div>
        <div class="user-info flex justify-start items-center">
          <div class="info-wrapper flex justify-end flex-col items-end">
            <div class="name text-gray-700">{{userData.fullName}}</div>
            <div class="role text-sm text-gray-500">{{userData.role | role}}</div>
          </div>
          <span class="avatar ml-2 cursor-pointer">
            <img [matMenuTriggerFor]="userMenu" class="w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500 object-cover"
              [src]="userData.avatar ? userData.avatar : '../../../../assets/picture/default-avatar.svg'" width="40px" height="40px">
          </span>
        </div>

      </div>
      <mat-menu #userMenu="matMenu" backdropClass="panel-custom">
        <button mat-menu-item (click)="onOpenProfile()">
          <mat-icon>settings_applications</mat-icon>
          <span>Cài đặt tài khoản</span>
        </button>
        <button *ngIf="isLogin && (userData?.role === ROLE?.STUDENT ||  userData?.role === ROLE?.TEACHER)" mat-menu-item (click)="onNavigateChat()">
          <mat-icon>message</mat-icon>
          <span>Tin nhắn</span>
        </button>
        <button mat-menu-item (click)="onLogout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Đăng xuất</span>
        </button>
      </mat-menu>
    </div>
  </div>
</nav>
