<div class="active-wrapper">
  <div class="active-list-header flex justify-end items-center mt-9 p-3">
    <div class="search-wrapper lg:w-2/5 w-full p-3 gap-3">
      <mat-form-field floatLabel="always" subscriptSizing="dynamic" appearance="outline" class="w-full">
        <mat-label>Tìm kiếm</mat-label>
        <input matInput type="text" placeholder="Nhập tên sinh viên">
      </mat-form-field>
    </div>
  </div>
  <div class="list-title w-full flex justify-start items-center flex-wrap p-3">
    <div class="text-3xl text-blue-800">Danh sách sinh viên ({{dataSource.data.length}})</div>
    <button mat-flat-button color="primary" class="bg-orange-600 ml-3 rounded-xl py-5 px-3 min-w-[160px] shadow-md"
    (click)="onExportData(dataSource.data)">
      <mat-icon>unarchive</mat-icon>
      <span>Xuất danh sách</span>
    </button>
  </div>


 <div class="active-list">
  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0" matSort>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> MSSV </th>
        <span class="mobile-label">MSSV: </span>
        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
      </ng-container>

      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Họ Tên </th>
        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
      </ng-container>

      <ng-container matColumnDef="class">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lớp </th>
        <td mat-cell *matCellDef="let element"> {{element.class}} </td>
      </ng-container>
      <ng-container matColumnDef="topic">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Đề tài </th>
        <td mat-cell *matCellDef="let element"> {{element?.thesis.topic ?? 'Chưa đăng ký'}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Tuỳ chọn </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="onEditRow(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onRemoveStudent(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
  <!-- <mat-paginator class="py-1"
  [pageSizeOptions]="[5, 10, 25]"
  [pageSize]="pagination.pageSize"
  [pageIndex]="pagination.pageIndex"
  [length]="pagination.length"
  (page)="onPageChange($event)"
  showFirstLastButtons>
</mat-paginator> -->
</div>

</div>
