<div class="class-wrapper">
  <mat-tab-group mat-stretch-tabs animationDuration="0ms">
    <!-- information tab -->
    <mat-tab label="Information">
      <ng-template mat-tab-label>

        Bảng tin
      </ng-template>

      <div class="tab-content">
        <app-class-board></app-class-board>
      </div>
      </mat-tab>
      <!-- end information tab -->


      <!-- Privacy tab -->
      <mat-tab label="Privacy">
      <ng-template mat-tab-label>

        Tài liệu tham khảo
      </ng-template>
      <div class="tab-content">
        Tài liệu
      </div>
    </mat-tab>
    <!-- end privacy tab -->

      <!-- Privacy tab -->
      <mat-tab label="Privacy">
      <ng-template mat-tab-label>

        Danh sách sinh viên
      </ng-template>
      <div class="tab-content">
        Sinh viên list
      </div>
    </mat-tab>
    <!-- end privacy tab -->
  </mat-tab-group>
</div>
