<div class="class-wrapper">
  <mat-tab-group mat-stretch-tabs animationDuration="0ms">

    <mat-tab label="Feed">
      <ng-template mat-tab-label>
        Bảng tin
      </ng-template>
      <div class="tab-content">
        <app-class-board></app-class-board>
      </div>
      </mat-tab>

      <mat-tab label="Document">
      <ng-template mat-tab-label>
        Tài liệu tham khảo
      </ng-template>
      <div class="tab-content">
        <app-ref-documents></app-ref-documents>
      </div>
    </mat-tab>

      <mat-tab label="StudentList">
      <ng-template mat-tab-label>
        Danh sách sinh viên
      </ng-template>
      <div class="tab-content">
        <app-class-overview></app-class-overview>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>
