<mat-card class="thesis-item md:p-2 border border-gray-300 rounded-2xl hover:shadow-md min-h-full max-h-max" [class.mat-elevation-z0]="true">
  <mat-card-header>
    <mat-card-subtitle>
      <div class="font-bold">
        Đề tài:
        {{thesis?.topic}}
      </div>
    </mat-card-subtitle>
    <mat-card-subtitle>
      <div class="font-bold">
        Đề tài (Tiếng Anh):
        ({{thesis?.topicEng}})
      </div>
    </mat-card-subtitle>
    <mat-card-subtitle>
      <div class="font-semibold">
        Lĩnh vực:
        <span class="text-blue-500 bg-blue-200 py-1 px-3 rounded-full text-sm font-normal">{{thesis?.type}}</span>
      </div>
    </mat-card-subtitle>
    <mat-card-subtitle>
      <span class="font-semibold">
        Sinh viên thực hiện:
      </span> {{thesis?.student?.fullName}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      <span class="font-semibold">
        Giảng viên hướng dẫn:
      </span>
      {{thesis?.class?.teacher?.fullName}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      <span class="font-semibold">
        Ngành:
      </span>
      {{thesis?.student?.major?.name}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      <span class="font-semibold">
        Học kỳ - Niên khoá:
      </span>
      {{thesis?.semester}}/{{thesis?.schoolYear}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      <span class="font-semibold">
        Trạng thái :
      </span>
      <span *ngIf="!thesis?.isPublic" class="text-orange-600 bg-orange-200 py-1 px-3 rounded-full text-sm">Chưa công
        khai</span>
      <span *ngIf="thesis?.isPublic" class="text-green-600 bg-green-200 py-1 px-3 rounded-full text-sm">Công khai</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions class="justify-end items-end flex-1 flex-shrink-1 flex-basis-full">
    <button mat-button color="primary" class="button-view rounded-xl" (click)="onView(thesis)">Xem chi tiết</button>
  </mat-card-actions>
</mat-card>
