<div class="wrapper p-4 w-[50vw] md:w-[40vw] lg:w-[30vw]">
  <h1 class="pb-6 pt-2 text-xl font-medium text-blue-700">Thêm sinh viên</h1>


<form class="form-wrapper" [formGroup]="findStudentForm" (ngSubmit)="onSubmit()">
  <div class="input-field w-full gap-2">
    <mat-form-field class="w-full">
      <mat-label>Mã số sinh viên</mat-label>
      <input matInput placeholder="Nhập mã số sinh viên" formControlName="studentCode">
    </mat-form-field>
  </div>
  <div class="input-field w-full gap-2">
    <mat-form-field class="w-full">
      <mat-label>{{!studentResult ? 'Chưa có thông tin sinh viên' : 'Tên sinh viên'}}</mat-label>
      <input matInput formControlName="studentName">
    </mat-form-field>
  </div>

  <div class="flex justify-end items-center gap-4">
    <button class="custom-btn rounded-xl" mat-flat-button (click)="onClose()">Huỷ</button>
    <button class="custom-btn bg-blue-600 text-white rounded-xl" mat-flat-button
    (click)="onSubmit()">Thêm sinh viên</button>
  </div>
</form>
</div>
