<!-- component -->
<div class="flex chat-wrapper overflow-hidden">
  <!-- Sidebar -->
  <div class="w-1/4 bg-white border-r border-gray-300">
    <!-- Sidebar Header -->
    <header class="p-4 border-b border-gray-300 flex justify-between items-center bg-blue-600 text-white ">
      <h1 class="text-2xl font-medium">Tin nhắn</h1>

    </header>

    <!-- Contact List -->
    <div class="overflow-y-auto h-full p-3 mb-9 pb-20">
      <ng-container *ngFor="let chat of chatList" >
        <div class="flex items-center mb-4 cursor-pointer hover:bg-blue-100 p-2 rounded-xl" (click)="onChangeChat(chat)"
        [class.bg-blue-200]="chat?._id === selectedChat?._id"
        >
          <div class="w-12 h-12 bg-gray-300 rounded-full mr-3">
            <img [src]="chat?.friend?.avatar ?? '../../../../assets/picture/default-avatar.svg'" alt="chat Avatar" class="w-12 h-12 rounded-full object-cover">
          </div>
          <div class="flex-1">
            <h2 class="text-lg font-semibold">{{chat?.friend?.fullName}}</h2>
            <p class="text-gray-600">{{chat?.friend?.code}}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- Main Chat Area -->
  <div class="flex flex-col w-3/4  bg-gray-50 items-center justify-start gap-2" *ngIf="selectedChat; else notChatSelected">
      <!-- Chat Header -->
      <header class="bg-white px-3 py-2 text-gray-600 border-b border-gray-300 w-full">
          <h2 class="text-lg font-medium">{{selectedChat?.friend?.fullName}}</h2>
          <h2 class="text-sm font-base text-gray-500">{{selectedChat?.friend?.code}}</h2>
      </header>

      <!-- Chat Messages -->
      <div class="h-custom w-full overflow-y-auto p-4 rounded-2xl" *ngIf="messages && messages.length > 0; else emptyMessage">
        <ng-container *ngFor="let message of messages">
          <!-- Incoming Message -->
          <div class="flex mb-4 cursor-pointer" *ngIf="message?.from?._id !== currentUserId && message?.from !== currentUserId">
            <div class="w-9 h-9 rounded-full flex items-center justify-center mr-2">
              <img [src]="message?.from?.avatar ?? '../../../../assets/picture/default-avatar.svg'" alt="User Avatar" class="w-8 h-8 rounded-full">
            </div>
            <div class="flex max-w-[80%] bg-white shadow rounded-xl p-3 gap-3">
              <p class="text-gray-700">{{message?.message}}</p>
            </div>
          </div>

          <!-- Outgoing Message -->
          <div class="flex justify-end mb-4 cursor-pointer" *ngIf="message?.from?._id === currentUserId || message?.from === currentUserId">
            <div class="flex max-w-[80%] bg-blue-500 shadow text-white rounded-xl p-3 gap-3">
              <p>{{message?.message}}</p>
            </div>
          </div>
        </ng-container>
        <div #bottomAnchor></div>

      </div>
      <ng-template #emptyMessage>
        <div class="flex justify-center items-center h-full pb-36">
          <p class="text-gray-500 text-xl">Không có tin nhắn nào</p>
        </div>
      </ng-template>

      <!-- Chat Input -->
      <footer class="bg-white px-4 py-3 mb-2 w-[98%] rounded-2xl">
          <form class="flex items-center" (ngSubmit)="sendMessage()"[formGroup]='inputForm' >
              <input type="text" placeholder="Nhập nội dung..." class="w-full p-2 border rounded-xl focus:outline-none focus:border-indigo-300" formControlName="message">
              <button mat-flat-button color="primary" class="bg-blue-500 text-white px-4 py-2 rounded-xl ml-2">
                <mat-icon class="-mr-2">send</mat-icon>
              </button>
          </form>
      </footer>
  </div>
  <ng-template #notChatSelected>
    <div class="flex-1 w-3/4 relative h-full">
      <div class="h-[50vh] flex justify-center items-center p-5">
        <p class="text-gray-500 text-2xl">Chọn một thành viên để bắt đầu cuộc trò chuyện của bạn</p>
      </div>
    </div>

  </ng-template>
</div>
