<div class="board-wrapper mx-auto pb-6">
  <div class="class-info relative text-white w-full md:w-4/5 lg:w-3/5">
    <div class="class-name absolute lg:bottom-7 top-7 left-7 text-3xl">
      {{className}}
    </div>
    <div class="class-name absolute bottom-7 right-7 text-base lg:text-lg">
      Giảng viên hướng dẫn: {{teacher?.fullName}}
    </div>
    <div class="img" src="../../../../../assets/picture/alex-shutin-kKvQJ6rK6S4-unsplash.jpg"></div>
  </div>

  <div *ngIf="isTeacher" class="post-create w-full md:w-4/5 lg:w-3/5" (focusin)="isCreatePostFocused = true" tabindex="-1">
    <form [formGroup]="createPostForm" class="p-3 mt-4 rounded-xl border border-gray-200"
     [class.shadow-md]="isCreatePostFocused"
     [class.shadow-sm]="!isCreatePostFocused"
     [class.border-red-300]="createPostForm.dirty && createPostForm.invalid">
      <div class="editor text-gray-500">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar" class="editor-toolbar" *ngIf="isCreatePostFocused">
        </ngx-editor-menu>
        <ngx-editor [placeholder]="'Nhập nội dung thông báo'" [editor]="editor" formControlName="content">
        </ngx-editor>
      </div>
      <div class="button-wrapper flex justify-end items-center mt-3 gap-2" *ngIf="isCreatePostFocused">
        <button mat-button color="basic" class="rounded-xl min-w-[95px]" (click)="clearCreatePostForm()">Huỷ</button>
        <button mat-flat-button color="primary" class="rounded-xl bg-blue-600 min-w-[95px]" *ngIf="!isLoading" (click)="onCreatePost()">Đăng bài</button>
        <button mat-flat-button color="basic" class="rounded-xl min-w-[95px]" disabled *ngIf="isLoading">
          <mat-icon>
            <mat-spinner diameter="16">
            </mat-spinner>
          </mat-icon>
        </button>
      </div>
    </form>
  </div>

  <div class="post-list mt-8 w-full md:w-4/5 lg:w-3/5 pb-5" *ngIf="postList && postList.length > 0; else emptyPost">
    <div class="title self-start">
      <h2 class="text-2xl font-medium text-left text-gray-700">Bảng thông báo</h2>
    </div>
    <mat-card class="post-item mat-elevation-z0 shadow-sm mt-3 rounded-xl border border-gray-200 w-full" *ngFor="let post of postList">
      <div class="flex justify-between items-start">
        <mat-card-header>
          <div mat-card-avatar class="rounded-full border border-gray-100">
            <img [src]="post?.user?.avatar ?? '../../../../../assets/picture/default-avatar.svg'" class="object-cover rounded-full h-full w-full">
          </div>
          <mat-card-title>{{post?.user?.fullName}}</mat-card-title>
          <mat-card-subtitle class="text-sm">{{  post?.createdAt | dateToText }}</mat-card-subtitle>
        </mat-card-header>
        <div class="action-button p-3">
          <button [matMenuTriggerFor]="postMenu" mat-icon-button color="basic" class="rounded-xl" *ngIf="isTeacher">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu class="mt-1 rounded-xl" #postMenu="matMenu" xPosition="before">
            <button mat-menu-item color="primary" (click)="onEditPost(post)">
              <mat-icon>edit</mat-icon>
              <span>Sửa</span>
            </button>
            <button mat-menu-item color="warn" (click)="onDeltePost(post)">
              <mat-icon color="warn">delete</mat-icon>
              <span class="text-red-500">Xoá</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <mat-card-content *ngIf="!isEditPost || selectedEditPost?._id !== post?._id" [innerHTML]="post?.content | sanitizedHtml"></mat-card-content>
      <mat-card-content>
        <form *ngIf="isEditPost && selectedEditPost?._id === post?._id" [formGroup]="editPostForm" [class.border-red-300]="editPostForm.dirty && editPostForm.invalid" class="p-3 mt-4 rounded-xl border border-gray-200">
          <div class="editor text-gray-500 px-3">
            <ngx-editor-menu [editor]="editEditor" [toolbar]="toolbar" class="editor-toolbar">
            </ngx-editor-menu>
            <ngx-editor [placeholder]="'Nhập nội dung thông báo'" [editor]="editEditor" formControlName="content">
            </ngx-editor>
          </div>
          <div class="button-wrapper flex justify-end items-center mt-3 gap-2">
            <button mat-button color="basic" class="rounded-xl min-w-[95px]" (click)="clearEditPostForm()">Huỷ</button>
            <button mat-flat-button color="primary" class="rounded-xl bg-blue-600 min-w-[95px]" *ngIf="!isEditLoading" (click)="onUpdatePost(post)">Cập nhật</button>
            <button mat-flat-button color="basic" class="rounded-xl min-w-[95px]" disabled *ngIf="isEditLoading">
              <mat-icon>
                <mat-spinner diameter="16">
                </mat-spinner>
              </mat-icon>
            </button>
          </div>
          </form>
      </mat-card-content>
      <mat-card-content class="border-t border-gray-300 mt-2 pt-2">
        <button mat-button color="basic" class=" rounded-2xl" (click)="onViewComment(post)">
          <mat-icon class="mr-2">supervisor_account</mat-icon>
          <span>{{post?.comments?.length}} Bình luận</span>
        </button>
      </mat-card-content>
    </mat-card>

  </div>

  <ng-template #emptyPost>
    <div class="empty-post h-72 flex justify-center items-center flex-col">
      <span class="text-gray-400 text-3xl">Chưa có thông báo nào</span>
    </div>
  </ng-template>
</div>
