.board-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  background-color: white;
  padding: 16px;

  .class-info{
    min-height: 320px;
    background: url(../../../../../assets/picture/alex-shutin-kKvQJ6rK6S4-unsplash.jpg);
    background-size: cover;
    border-radius: 12px;
    margin-top: 12px;
  }

  .docs-item{
    border: 1px solid #ccc;
    border-radius: 12px;
    margin-top: 8px;
    width: 100%;
  }

  .post-list{
    width: 100%;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

::ng-deep {
  .editor {
    border-radius: 12px;
    padding: 0 4px;

    .NgxEditor__MenuBar {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .NgxEditor {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border: none;
      min-height: 54px;
    }

    .CodeMirror {
      border: 1px solid #eee;
      height: auto;
      margin-bottom: 0.7rem;

      pre {
        white-space: pre !important;
      }
    }

  }
}
