<div class="board-wrapper">
  <div class="class-info relative text-white w-full md:w-1/2">
    <div class="class-name absolute bottom-7 left-7 text-3xl">
      Lớp Test
    </div>
    <div class="img" src="../../../../../assets/picture/alex-shutin-kKvQJ6rK6S4-unsplash.jpg"></div>
  </div>
  <div class="news-list w-full px-12 mt-12">
    <mat-card class="news-item" *ngFor="let i of [1,2,3,4,5,6,7]" [class.mat-elevation-z0]="true" >
      <mat-card-content>Ngày mai nghỉ</mat-card-content>
      <mat-card-content class="text-gray-500 text-m">Hôm qua</mat-card-content>
    </mat-card>

  </div>



</div>
