.wrapper{
  display: flex;
  flex-direction: column;
  width: 100vw !important;
  min-height: 100vh !important;
  margin: 0 auto;
  position: relative;
  transition: .2s ease-in-out;
  background-image: url(../../../../assets/picture/alex-shutin-kKvQJ6rK6S4-unsplash.jpg);
  background-size: cover;

  .container-outlet {
    width: 100%;
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
  }
}
