.wrapper{
  display: flex;
  flex-direction: column;
  width: 100vw !important;
  min-height: 100vh !important;
  background-image: url(../../../../assets/picture/alex-shutin-kKvQJ6rK6S4-unsplash.jpg);
  background-size: cover;
  margin: 0 auto;
  position: relative;
  transition: 0.2s ease-in;

  .container-fluid {
    flex: 1 0 auto;
    min-width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top: -32px;
  }
}
