<div class="wrapper ư-full">
  <div class="header flex justify-between items-center mt-9 p-3">
    <div class="title w-1/2 text-3xl text-blue-800">
      Danh sách luận văn
    </div>
    <div class="search-wrapper w-1/3 p-3">
      <mat-form-field floatLabel="always" appearance="outline" class="w-full">
        <mat-label>Chọn dữ liệu hiển thị</mat-label>
        <mat-select panelClass="panel-custom" [value]="'public'">
          <mat-option value="public">Luận văn được công khai</mat-option>
          <mat-option value="complete">Luận văn đã hoàn thành</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="card-list lg:px-10 grid grid-cols-3 gap-2">
    <mat-card class="thesis-item md:p-2 border border-gray-300 rounded-xl" [class.mat-elevation-z0]="true"  *ngFor="let i of [1, 2, 3]">
      <mat-card-header>
          <mat-card-title>Bảo vệ blabla bla</mat-card-title>
            <mat-card-subtitle>
              Sinh viên thực hiện: Nguyễn văn C
          </mat-card-subtitle>
          <mat-card-subtitle>
              Giảng viên hướng dẫn: Nguyễn Văn A
          </mat-card-subtitle>
          <mat-card-subtitle>
            Ngành: Công nghệ thông tin
          </mat-card-subtitle>
          <mat-card-subtitle>
              Ngày bảo vệ: 20/10/2021
          </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions class="justify-end">
          <button mat-button color="primary" class="button-view">Xem chi tiết</button>

      </mat-card-actions>
    </mat-card>

  </div>


</div>
