<div class="wrapper w-full">
  <div class="header lg:flex block justify-between items-center mt-9 p-3">
    <div class="title md:w-1/2 w-full text-3xl text-blue-800">
      Danh sách luận văn
    </div>
    <div [formGroup]="filterOptionForm" class="search-wrapper lg:w-1/3 w-full p-3">
      <mat-form-field floatLabel="always" appearance="outline" class="w-full" subscriptSizing="dynamic">
        <mat-label>Chọn dữ liệu hiển thị</mat-label>
        <mat-select panelClass="panel-custom" [value]="'public'" formControlName="isPublic">
          <mat-option [value]="true">Luận văn được công khai</mat-option>
          <mat-option [value]="false">Luận văn chưa công khai</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="search-wrapper lg:w-1/2 w-full p-3 lg:flex block gap-2 justify-start items-center lg:px-10 px-5">
    <ng-container [formGroup]="filterOptionForm">
      <mat-form-field floatLabel="always" appearance="outline" class="w-full">
        <mat-label>Ngành</mat-label>
        <mat-select placeholder="Chọn ngành học" formControlName="major" panelClass="panel-custom">
          <mat-option [value]="null">Chọn ngành học</mat-option>
          <mat-option [value]="major._id" *ngFor="let major of majorList">{{major.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="outline" class="w-full">
        <mat-label>Niên khoá</mat-label>
        <mat-select placeholder="Chọn niên khoá" formControlName="schoolYear">
          <mat-option [value]="null">Chọn niên khoá</mat-option>
          <mat-option [value]="item" *ngFor="let item of schoolYear">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field floatLabel="always" appearance="outline" class="lg:w-1/2 w-full">
        <mat-label>Học kỳ</mat-label>
        <mat-select placeholder="Chọn học kỳ" formControlName="semester">
          <mat-option [value]="null">Chọn học kỳ</mat-option>
          <mat-option [value]="'1'">1</mat-option>
          <mat-option [value]="'2'">2</mat-option>
        </mat-select>
      </mat-form-field>

  </ng-container>
  </div>
  <div class="card-list lg:px-10 px-5 grid grid-cols-6 gap-2 w-full">
    <ng-container *ngIf="thesisList && thesisList.length>0; else emptyThesis">
      <ng-container *ngFor="let thesis of thesisList">
        <app-thesis-card-public
        *ngIf="thesis"
        class="lg:col-span-2 md:col-span-3 col-span-6"
        [thesis]="thesis"
        (onViewThesis)="onViewDetail($event)">
        </app-thesis-card-public>
    </ng-container>

    <mat-paginator class="py-1 col-span-6"
      [pageSizeOptions]="[5, 10, 25]"
      [pageSize]="pagination.limit"
      [pageIndex]="pagination.page"
      [length]="pagination.length"
      (page)="onPageChange($event)"
      showFirstLastButtons>
    </mat-paginator>
    </ng-container>
  </div>

  <ng-template #emptyThesis>
    <div class="flex justify-center items-center w-full h-full col-span-6 mt-7">
      <div class="text-gray-500 text-xl">Không có luận văn nào.</div>
    </div>
  </ng-template>
</div>
