<div class="wrapper p-4 w-[90vw] md:w-[80vw] lg:w-[60vw]">
  <div class="flex justify-start items-start lg:flex-row flex-col-reverse">
    <div class="min-h-[80vh] mt-3 doc-wrapper lg:w-1/2 w-full">
      <iframe [src]="url | safe:'resourceUrl' " scrolling="auto"></iframe>
    </div>
    <div class="info-field lg:w-1/2 p-3 border border-gray-200 rounded-xl ml-3 mt-3">
      <div class="title text-blue-600 text-2xl py-3 px-2">
        Thông tin luận văn
      </div>
      <div class="thesis-info flex flex-col gap-3 px-2">
        <div class="text-gray-600 w-full">
          <span class="text-gray-800 font-medium">
            Tên đề tài:
          </span>
          {{thesis?.topic}}
        </div>
        <div class="text-gray-600 w-full">
          <span class="text-gray-800 font-medium">
            Tên đề tài (Tiếng Anh):
          </span>
          {{thesis?.topicEng}}
        </div>
        <div class="text-gray-600 w-full">
          <span class="text-gray-800 font-medium">
            Sinh viên thực hiện:
          </span>
          {{thesis?.student?.fullName}}
        </div>
        <div class="text-gray-600 w-full">
          <span class="text-gray-800 font-medium">
            Mã số sinh viên:
          </span>
          {{thesis?.student?.code}}
        </div>
        <div class="text-gray-600 w-full">
          <span class="text-gray-800 font-medium">
            Giảng viên hướng dẫn:
          </span>
          {{thesis?.class?.teacher?.fullName}}
        </div>
        <div *ngIf="thesis?.description && isView" class="text-gray-600 w-full max-h-[200px] overflow-y-auto">
          <div class="text-gray-800 font-medium">
            Mô tả:
          </div>
          {{thesis?.description}}
        </div>
        <ng-container *ngIf="thesis?.protectInfo && !isView" >
          <div class="text-gray-600 w-full">
            <span class="text-gray-800 font-medium">
              Thời gian bảo vệ:
            </span>
            {{thesis?.protectInfo?.date | date: 'dd/MM/yyyy'}} - {{thesis?.protectInfo?.time}}
          </div>
          <div class="text-gray-600 w-full">
            <span class="text-gray-800 font-medium">
              Địa điểm:
            </span>
            Phòng {{thesis?.protectInfo?.room}}
          </div>
        </ng-container>
        <div class="text-gray-600 w-full" *ngIf="thesis.results.length>0 && !isView">
          <span class="text-gray-800 font-medium">
            Điểm:
          </span>
          {{avgScore}}/10
        </div>
        <div *ngIf="!isView" class="text-gray-600 w-full">
          <mat-form-field class="w-full">
            <mat-label>Trạng thái</mat-label>
            <mat-select [formControl]="isPublic">
              <mat-option [value]="false" >Chưa công khai</mat-option>
              <mat-option [value]="true">Công khai</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
    </div>
  </div>
  <div class="mt-4 flex justify-end items-center gap-2">
    <button mat-flat-button color="basic" class="rounded-xl px-4 py-5 min-w-[125px]" mat-dialog-close>Đóng</button>
    <button *ngIf="!isView" mat-flat-button color="primary" class="rounded-xl px-4 py-5 min-w-[125px] bg-blue-600" (click)="onSubmit()">Xác nhận</button>
  </div>
</div>
