<div class="detail-wrapper md:flex block mt-9 p-3 gap-2">
  <div
    class="detail-list-header flex justify-start items-center flex-col lg:basis-1/3 border border-gray-200 rounded-xl px-3 py-2">
    <div class="list-title w-full text-2xl text-blue-800">
      Nhóm hội đồng
    </div>
    <form class="form-wrappper mt-3 w-full" [formGroup]="councilInfoForm" (ngSubmit)="onSubmit()">
      <div class="input-field">
        <div class="field-title p-2 text-gray-600">
          Tên nhóm
        </div>
        <mat-form-field class="w-full" subscriptSizing='dynamic'>
          <input matInput type="text" placeholder="Nhập tên nhóm" formControlName="name">
        </mat-form-field>
      </div>
      <div class="input-fields grid grid-cols-3 gap-2">
        <div class="input-field">
          <div class="field-title p-2 text-gray-600">
            Học kỳ
          </div>
          <mat-form-field class="w-full" subscriptSizing='dynamic'>
            <mat-select panelClass="panel-custom" formControlName="semester" placeholder="Học kỳ">
              <mat-option [value]="'1'">1</mat-option>
              <mat-option [value]="'2'">2</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="input-field col-span-2">
          <div class="field-title p-2 text-gray-600">
            Niên khoá
          </div>
          <mat-form-field class="w-full" subscriptSizing='dynamic'>
            <mat-select panelClass="panel-custom" formControlName="schoolYear" placeholder="Niên khoá">
              <mat-option [value]="item" *ngFor="let item of schoolYear">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="input-field">
        <div class="field-title p-2 text-gray-600">
          Ngành
        </div>
        <mat-form-field class="w-full" subscriptSizing='dynamic'>
          <mat-select panelClass="panel-custom" formControlName="major" placeholder="Ngành học"
            (selectionChange)="onChangeMajor()">
            <mat-option [value]="major._id" *ngFor="let major of majors">{{major.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="input-field gap-2">
        <div class="field-title p-2 text-gray-600">
          Phân công giảng viên
        </div>
        <mat-form-field class="w-full">
          <mat-label>{{teacherByMajor.length > 0 ? 'Chủ tịch' : 'Không có giảng viên'}}</mat-label>
          <mat-select panelClass="panel-custom" formControlName="president">
            <mat-option *ngFor="let teacher of teacherByMajor" [value]="teacher._id">{{teacher.fullName}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>{{teacherByMajor.length > 0 ? 'Uỷ viên' : 'Không có giảng viên'}}</mat-label>
          <mat-select panelClass="panel-custom" formControlName="secretary">
            <mat-option *ngFor="let teacher of teacherByMajor" [value]="teacher._id">{{teacher.fullName}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>{{teacherByMajor.length > 0 ? 'Thư ký' : 'Không có giảng viên'}}</mat-label>
          <mat-select panelClass="panel-custom" formControlName="member">
            <mat-option *ngFor="let teacher of teacherByMajor" [value]="teacher._id">{{teacher.fullName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="flex justify-end items-center gap-2 mt-3">
        <button mat-flat-button color="basic" class="rounded-xl px-5 py-4"
          [routerLink]="'/ministry/council'">Huỷ</button>
        <button mat-flat-button color="primary" class="rounded-xl text-white px-5 py-4" type="submit">Cập nhật</button>
      </div>
    </form>
  </div>
  <div
    class="detail-list flex justify-start items-start flex-col lg:basis-2/3 w-full border mt-4 md:mt-0 border-gray-200 rounded-xl px-3 py-2">
    <div class="list-header w-full p-3 flex justify-between items-center md:flex-row flex-col">
      <span class=" text-2xl text-blue-800 ">Danh sách luận văn được bảo vệ</span>
      <button mat-flat-button color="primary" class="rounded-xl bg-blue-600" (click)="onAddThesis()">
        <mat-icon>add</mat-icon>
        Thêm luận văn
      </button>
    </div>
    <div class="active-list w-full table-wrapper">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z0" matSort>

        <ng-container matColumnDef="studentCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> MSSV </th>
          <span class="mobile-label">MSSV: </span>
          <td mat-cell *matCellDef="let element"> {{element.student.code}} </td>
        </ng-container>

        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Họ Tên </th>
          <td mat-cell *matCellDef="let element"> {{element.student.fullName}} </td>
        </ng-container>

        <ng-container matColumnDef="class">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Lớp </th>
          <td mat-cell *matCellDef="let element"> {{element.student.class}} </td>
        </ng-container>

        <ng-container matColumnDef="topic">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Đề tài </th>
          <td mat-cell *matCellDef="let element"> {{element.topic}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Tuỳ chọn </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="onEditThesis(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onRemoveThesis(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="text-center" *matNoDataRow>
          <td class="mat-cell py-4" colspan="10" *ngIf="dataSource?.data?.length === 0">Không có dữ liệu</td>
        </tr>

      </table>
    </div>
  </div>

</div>
