<div class="class-wrapper">
  <mat-tab-group mat-stretch-tabs animationDuration="0ms">

    <mat-tab label="Instructing">
      <ng-template mat-tab-label>
        Sinh viên đang hướng dẫn
      </ng-template>
      <div class="tab-content">
        <ng-template matTabContent>
          <app-active-student-list></app-active-student-list>
        </ng-template>
      </div>
      </mat-tab>

      <mat-tab label="Registering">
      <ng-template mat-tab-label>

        Sinh viên đăng ký
        <span *ngIf="studentPendingCount > 0" class="text-red-400">
          <br>
          ({{studentPendingCount}})</span>
      </ng-template>
      <div class="tab-content">
          <app-pending-student-list
          (studentPendingCount)="studentPendingCount = $event"
          ></app-pending-student-list>
      </div>
    </mat-tab>


  </mat-tab-group>
</div>
