<div class="wrapper p-4 w-[90vw] md:w-[60vw] lg:w-[30vw]">
  <h1 class="pb-6 pt-2 text-xl font-medium text-blue-700">Đổi mật khẩu</h1>

  <form class="form-wrapper" [formGroup]="changePasswordForm">
    <div class="input-field">
      <div class="flex flex-col w-full">
        <span class="p-1 text-gray-700">Mật khẩu cũ</span>
        <mat-form-field [hideRequiredMarker]="true" appearance="outline" class="w-full rounded-3xl ">
          <input name="password" matInput [type]="isShowOldPassword ? 'text':'password'" formControlName="oldPassword"
            [placeholder]=" isShowOldPassword ? 'Nhập mật khẩu' : ' • • • • • • • •' ">
          <button type="button" mat-icon-button [matTooltip]="isShowOldPassword ? 'Ẩn' : 'Hiện' "
            matSuffix tabindex="-1" (click)="isShowOldPassword=!isShowOldPassword">
            <mat-icon style="color:gray">{{isShowOldPassword?'visibility_off':'visibility'}}</mat-icon>
          </button>
          <mat-error
            class="text-red-500 text-xs"
            *ngIf="changePasswordForm.controls.oldPassword.hasError('minlength') && !changePasswordForm.controls.oldPassword.hasError('required')">
            Mật khẩu phải có ít nhất 8 ký tự
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="input-field">
      <div class="flex flex-col w-full">
        <span class="p-1 text-gray-700">Mật khẩu mới</span>
        <mat-form-field [hideRequiredMarker]="true" appearance="outline" class="w-full rounded-3xl ">
          <input name="password" matInput [type]="isShowNewPassword ? 'text':'password'" formControlName="password"
            [placeholder]=" isShowNewPassword ? 'Nhập mật khẩu mới' : ' • • • • • • • •' ">
          <button type="button" mat-icon-button [matTooltip]="isShowNewPassword ? 'Ẩn' : 'Hiện' "
            matSuffix tabindex="-1" (click)="isShowNewPassword=!isShowNewPassword">
            <mat-icon style="color:gray">{{isShowNewPassword?'visibility_off':'visibility'}}</mat-icon>
          </button>
          <mat-error
            class="text-red-500 text-xs"
            *ngIf="changePasswordForm.controls.password.hasError('minlength') && !changePasswordForm.controls.password.hasError('required')">
            Mật khẩu phải có ít nhất 8 ký tự
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="input-field">
      <div class="flex flex-col w-full">
        <span class="p-1 text-gray-700">Nhập lại mật khẩu</span>
        <mat-form-field [hideRequiredMarker]="true" appearance="outline" class="w-full rounded-3xl ">
          <input name="password" matInput [type]="isShowConfirmPassword ? 'text':'password'" formControlName="confirmPassword"
            [placeholder]=" isShowConfirmPassword ? 'Nhập lại mật khẩu' : ' • • • • • • • •' ">
          <button type="button" mat-icon-button [matTooltip]="isShowConfirmPassword ? 'Ẩn' : 'Hiện' "
            matSuffix tabindex="-1" (click)="isShowConfirmPassword=!isShowConfirmPassword">
            <mat-icon style="color:gray">{{isShowConfirmPassword?'visibility_off':'visibility'}}</mat-icon>
          </button>
          <mat-error
            class="text-red-500 text-xs"
            *ngIf="changePasswordForm.controls.confirmPassword.hasError('mismatch') && !changePasswordForm.controls.confirmPassword.hasError('required')">
            Mật khẩu không trùng khớp
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="flex justify-end items-center gap-4">
    <button class="custom-btn" mat-flat-button mat-dialog-close>Huỷ</button>

    <button
    class="custom-btn bg-blue-600 text-white" mat-flat-button (click)="onSubmit()">Đổi mật khẩu</button>
  </div>

</div>
