<div class="document-wrapper max-w-5xl mx-auto">
  <div class="filter-wrapper w-full flex justify-between items-center pr-3 pt-4">
    <mat-form-field appearance="outline" class="lg:w-1/3 w-1/2">
      <mat-label>Chủ đề tài liệu</mat-label>
      <mat-select panelClass="panel-custom">
        <mat-option *ngFor="let food of [1, 2, 3, 4,45,5]" [value]="food">
          {{food}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="rounded-xl px-6 py-6 bg-blue-600" (click)="onAddDoc()">
      <mat-icon>add</mat-icon>
      <span>Thêm tài liệu</span>
    </button>
  </div>

  <div class="docs-list w-full flex justify-start flex-col">
    <div class="docs-item-wrapper w-full">
      <div class="docs-header">
        Tag 1
      </div>
      <mat-card class="docs-item" *ngFor="let i of [1,2,3,4,5,6,7]" [class.mat-elevation-z0]="true" >
        <mat-card-content>Ngày mai nghỉ</mat-card-content>
        <mat-card-content class="text-gray-500 text-m">Hôm qua</mat-card-content>
      </mat-card>
    </div>
    <div class="docs-item-wrapper w-full">
      <div class="docs-header">
        Tag 1
      </div>
      <mat-card class="docs-item" *ngFor="let i of [1,2,3,4,5,6,7]" [class.mat-elevation-z0]="true" >
        <mat-card-content>Ngày mai nghỉ</mat-card-content>
        <mat-card-content class="text-gray-500 text-m">Hôm qua</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
