<div class="document-wrapper max-w-5xl mx-auto">
  <div class="filter-wrapper w-full flex justify-between items-center pr-3 pt-4">
    <div class="text-3xl font-medium text-blue-600">
      {{docType?.name}}
    </div>
    <button *ngIf="isTeacher" mat-raised-button color="primary" class="rounded-xl px-6 py-6 bg-blue-600" (click)="onAddDoc()">
      <mat-icon>add</mat-icon>
      <span>Thêm tài liệu</span>
    </button>
  </div>

  <div class="text-2xl mt-8 text-blue-600 w-full text-left">
    Danh sách tài liệu
  </div>

  <div *ngIf="refDocsList && refDocsList.length > 0; else emptyRefDocs" class="docs-list w-full flex justify-start flex-col mt-3">
    <div class="docs-item-wrapper w-full">
      <mat-card class="docs-item flex item-center justify-between flex-row" *ngFor="let refDoc of refDocsList" [class.mat-elevation-z0]="true" >
        <div class="p-3 flex flex-col items-start">
          <p class="text-gray-600 font-medium line-clamp-1">{{refDoc.title}}</p>
          <span class="text-gray-500 text-sm">{{refDoc.createdAt | dateToText}}</span>
        </div>

        <div class="docs-item__action flex justify-end items-center">
          <button *ngIf="isTeacher" mat-icon-button color="accent" class="rounded-xl" matTooltip="Xoá tài liệu" (click)="onDeleteDoc(refDoc)">
            <mat-icon color="accent">delete</mat-icon>
          </button>
          <button mat-icon-button color="primary" class="rounded-xl" matTooltip="Xem tài liệu" (click)="docDetail.click()">
            <mat-icon color="primary">keyboard_arrow_right</mat-icon>
          </button>
          <a #docDetail class="hidden" target="_blank" rel="noopener noreferrer" [href]="refDoc.url"></a>
          <a #downloadDoc class="hidden" [href]="refDoc.url" download></a>
        </div>
      </mat-card>
    </div>
  </div>

  <ng-template #emptyRefDocs>
    <div class="empty-ref-docs h-72 flex justify-center items-center flex-col">
      <span class="text-gray-400 text-3xl">Chưa có tài liệu tham khảo</span>
    </div>
  </ng-template>
</div>
