.input-field{
  margin-top: 8px;
}
.mobile-label {
  display: none;
}

.mat-mdc-table .mdc-data-table__row{
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}


.table-wrapper {
  padding: 8px;
  table {
    border: 1px solid #e2e8f0;
    border-radius: 12px;
    border-spacing: 0;
    border-collapse: separate;
    overflow: hidden;

    .mobile-label {
      display: none;
    }
    .mat-mdc-row:nth-child(even) {
      background: #f0f9ff;
    }

    .mat-mdc-header-row {
      background: #60a5fa;
      color: white;
    }

  }
}


@media screen and (max-width: 768px) {
  .table-wrapper{
    table {
      .mobile-label {
        width: fit-content;
        display: inline-block;
        font-weight: bold;
      }

      .mat-mdc-header-row {
        display: none;
      }

      .mat-mdc-row {
        display: flex;
        height: 100%;
        flex-direction: column;
        padding: 8px 12px;
        overflow: visible !important;

        .mat-mdc-cell {
          display: flex;
          justify-content: space-between;
          padding: 8px !important;

          text-align: left;
        }

         .mdc-data-table__cell {
            overflow: visible !important;
          }
      }

      .button-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row-reverse !important;
        justify-content: flex-start !important;
        gap: 0 16px !important;
        margin-top: 12px;
      }
    }
  }
}


@media screen and (max-width: 1400px) {
  .table-wrapper{
    table {
      .button-wrapper {
        flex-direction: column-reverse;
        gap: 16px 0;
      }
    }
  }
}

::ng-deep {
  .mat-sort-header-container {
    justify-content: flex-start;
  }
}
