<div class="detail-wrapper md:flex block mt-9 p-3 gap-2">
  <div class="detail-list-header flex justify-start items-center flex-col basis-1/3 border border-gray-200 rounded-xl px-3 py-2">
    <div class="list-title w-full text-2xl text-blue-800">
      Nhóm hướng dẫn
    </div>
    <form class="form-wrappper mt-3 w-full" [formGroup]="classDetailForm" (ngSubmit)="onSubmit()">
      <div class="input-field">
        <div class="field-title p-2 text-gray-600">
          Tên nhóm
        </div>
        <mat-form-field class="w-full" subscriptSizing='dynamic' >
          <input matInput type="text" placeholder="Nhập tên nhóm" formControlName="name">
        </mat-form-field>
      </div>
      <div class="input-field">
        <div class="field-title p-2 text-gray-600">
          Giảng viên hướng dẫn
        </div>
        <mat-form-field class="w-full" subscriptSizing='dynamic'>
          <input matInput type="text" placeholder="Tên giảng viên" formControlName="teacher" [matAutocomplete]="autoTeacher">
          <mat-autocomplete #autoTeacher="matAutocomplete">
            <mat-optgroup *ngFor="let group of teacher$ | async" [label]="group?.major" class="font-semibold">
              <mat-option *ngFor="let teacher of group?.teachers" [value]="teacher.fullName" class="font-normal"  (onSelectionChange)="updateTeacherData(teacher)">
                {{teacher.fullName}}
              </mat-option>
          </mat-optgroup>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="input-field">
        <div class="field-title p-2 text-gray-600">
          Ngành
      </div>
        <mat-form-field class="w-full" subscriptSizing='dynamic'>
          <mat-select panelClass="panel-custom" formControlName="major" placeholder="Ngành học">
            <mat-option [value]="major._id" *ngFor="let major of majors">{{major.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="input-field">
        <div class="field-title p-2 text-gray-600">
          Số lượng sinh viên
        </div>
        <mat-form-field class="w-full" subscriptSizing='dynamic'>
          <input matInput type="text" placeholder="Số lượng sinh viên trong nhóm" formControlName="studentCount">
        </mat-form-field>
      </div>
      <div class="input-fields grid grid-cols-3 gap-2">
        <div class="input-field">
          <div class="field-title p-2 text-gray-600">
            Học kỳ
        </div>
          <mat-form-field class="w-full" subscriptSizing='dynamic'>
            <mat-select panelClass="panel-custom" formControlName="semester" placeholder="Học kỳ">
              <mat-option [value]="'1'">1</mat-option>
              <mat-option [value]="'2'">2</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="input-field col-span-2">
          <div class="field-title p-2 text-gray-600">
            Niên khoá
          </div>
          <mat-form-field class="w-full" subscriptSizing='dynamic'>
            <mat-select panelClass="panel-custom" formControlName="schoolYear" placeholder="Niên khoá">
              <mat-option [value]="item" *ngFor="let item of schoolYear">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="input-field">
        <div class="field-title p-2 text-gray-600">
          Ghi chú
        </div>
        <mat-form-field class="w-full" subscriptSizing='dynamic'>
          <textarea matInput placeholder="Ghi chú" formControlName="description"></textarea>
        </mat-form-field>
      </div>
      <div class="flex justify-end items-center gap-2 mt-3">
        <button mat-flat-button color="basic" class="rounded-xl px-5 py-4" [routerLink]="'/ministry/class-list'">Huỷ</button>
        <button mat-flat-button color="primary" class="rounded-xl text-white px-5 py-4" type="submit">Cập nhật</button>
      </div>
    </form>
  </div>
  <div class="detail-list flex justify-start items-start flex-col basis-2/3 w-full border border-gray-200 rounded-xl px-3 py-2">
    <div class="list-header w-full p-3 flex justify-between items-center">
      <span class=" text-2xl text-blue-800 ">Danh sách sinh viên</span>
      <button mat-flat-button color="primary" class="rounded-xl bg-blue-600" (click)="onAddStudent()">
        <mat-icon>add</mat-icon>
        Thêm sinh viên
      </button>
    </div>
    <div class="active-list w-full table-wrapper">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z0" matSort>

        <ng-container matColumnDef="studentCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> MSSV </th>
          <span class="mobile-label">MSSV: </span>
          <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>

        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Họ Tên </th>
          <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
        </ng-container>

        <ng-container matColumnDef="class">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Lớp </th>
          <td mat-cell *matCellDef="let element"> {{element.class}} </td>
        </ng-container>

        <ng-container matColumnDef="topic">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Đề tài </th>
          <td mat-cell *matCellDef="let element"> {{element?.thesis.name ?? 'Chưa xác định'}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Tuỳ chọn </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" >
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onRemoveStudent(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="text-center" *matNoDataRow>
          <td class="mat-cell py-4" colspan="10" *ngIf="dataSource?.data?.length === 0">Không có dữ liệu</td>
        </tr>

      </table>
    </div>
  </div>

</div>
