<div class="public-thesis-wrapper">
  <div class="public-wrapper ">
    <div class="title text-blue-600">
      Luận văn công khai
    </div>
  <div class="form-wrapper">
      <div class="search-wrapper lg:w-2/3 w-full p-3 lg:flex block gap-2 justify-start items-center lg:px-10 px-5 basis-[10%]">
        <ng-container [formGroup]="filterOptionForm">
          <mat-form-field floatLabel="always" appearance="outline" class="w-full">
            <mat-label>Ngành</mat-label>
            <mat-select placeholder="Chọn ngành học" formControlName="major" panelClass="panel-custom">
              <mat-option [value]="null">Chọn ngành học</mat-option>
              <mat-option [value]="major._id" *ngFor="let major of majorList">{{major.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        <div class="w-full flex justify-start items-center gap-2">
          <mat-form-field floatLabel="always" appearance="outline" class="w-full">
            <mat-label>Niên khoá</mat-label>
            <mat-select placeholder="Chọn niên khoá" formControlName="schoolYear">
              <mat-option [value]="null">Chọn niên khoá</mat-option>
              <mat-option [value]="item" *ngFor="let item of schoolYear">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field floatLabel="always" appearance="outline" class="w-1/2">
            <mat-label>Học kỳ</mat-label>
            <mat-select placeholder="Chọn học kỳ" formControlName="semester">
              <mat-option [value]="null">Chọn học kỳ</mat-option>
              <mat-option [value]="1">1</mat-option>
              <mat-option [value]="2">2</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>
      </div>

    <div class="basis-full flex-shrink flex-grow lg:min-h-[550px] overflow-y-auto grid grid-cols-1 xl:grid-cols-3 lg:grid-cols-2 py-2 px-2 md:px-12 gap-3 auto-rows-[1fr]"
    [class.grid-rows-2]="thesisList.length <= 3"
    >
      <ng-container *ngIf="thesisList && thesisList.length > 0; else emptyThesis">
        <app-thesis-card-public *ngFor="let thesis of thesisList"
      [thesis]="thesis"
      (onViewThesis)="onViewDetail($event)"
      ></app-thesis-card-public>
      </ng-container>

      <ng-template #emptyThesis>
        <div class="flex justify-center items-center w-full col-span-3 mt-7 h-[250px]">
          <div class="text-gray-500 text-xl">Không có luận văn nào.</div>
        </div>
      </ng-template>
    </div>
    <mat-paginator class="py-1 basis-[10%]"
    *ngIf="thesisList && thesisList.length > 0"
    [pageSizeOptions]="[6, 12, 50, 100]"
    [pageSize]="pagination.limit"
    [pageIndex]="pagination.page"
    [length]="pagination.length"
    (page)="onPageChange($event)"
    showFirstLastButtons>
  </mat-paginator>
  </div>

      </div>

</div>
