.wrapper{
  height: 85vh;
  width: 100%;

  .public-wrapper {
    min-height: 100%;
    min-width: 50vw;
    background-color: white;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;

    .title{
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 1rem;
      padding: 1rem;
    }

    .form-wrapper{
      width: 90%;
      padding: 16px;

    }

    .list-item{
      overflow-y: auto;


    }

  }
}

.button-view{
  border-radius: 12px;
  padding: 0 16px;
}
