<div class="assigned-wrapper max-w-5xl mx-auto">
  <div class="assigned-list-header flex justify-between items-center mt-9 p-3">
    <div class="list-title w-full text-3xl text-blue-800">
      Danh sách nhóm hội đồng
    </div>

  </div>
  <div class="lg:flex block justify-between items-center">
    <div [formGroup]="filterOptionForm"
      class="search-wrapper lg:w-1/2 w-full p-3 flex gap-2 justify-start items-center">
      <mat-form-field floatLabel="always" appearance="outline" class="w-full">
        <mat-label>Niên khoá</mat-label>
        <mat-select placeholder="Chọn niên khoá" formControlName="schoolYear">
          <mat-option [value]="null">Chọn niên khoá</mat-option>
          <mat-option [value]="item" *ngFor="let item of schoolYear">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field floatLabel="always" appearance="outline" class="w-1/2">
        <mat-label>Học kỳ</mat-label>
        <mat-select placeholder="Chọn học kỳ" formControlName="semester">
          <mat-option [value]="null">Chọn học kỳ</mat-option>ks
          <mat-option [value]="'1'">1</mat-option>
          <mat-option [value]="'2'">2</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="assigned-list grid lg:grid-cols-3 md:grid-cols-1 grid-cols-1 gap-2 px-2">

      <ng-container *ngIf="assignedList && assignedList.length > 0">
        <ng-container *ngFor="let council of assignedList">
          <app-assigned-card
          [council]="council"
          ></app-assigned-card>
        </ng-container>
      </ng-container>

      <ng-container  *ngIf="!assignedList || assignedList.length <= 0">
        <div class="flex justify-center items-center w-full h-full col-span-3 mt-7">
          <div class="text-gray-500 text-xl">Chưa có hội đồng nào được phân công trong thời gian này.</div>
        </div>
      </ng-container>
  </div>
</div>
