<div class="wrapper">
  <div class="overlay-bg"></div>
  <nav
  class="fixed top-0 z-50 w-full bg-white border-b backdrop-blur border-gray-200 dark:bg-gray-800 dark:border-gray-700">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start">

        <a routerLink="/public" class="flex ml-2 md:mr-24">
          <img src="https://yu.ctu.edu.vn/images/upload/article/2020/03/0305-logo-ctu.png" class="h-12 mr-3"
            alt="Logo" />
          <div class="flex flex-col justify-start items-start">
            <span class="text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white text-blue-600">CTU
              Tms</span>
            <span class="text-base font-semibold whitespace-nowrap text-yellow-500">Quản lý luận văn</span>
          </div>
        </a>
      </div>

      <div class="button-wrapper">
        <button mat-flat-button color="primary" class="shadow-md bg-blue-600 rounded-full py-6 px-7" routerLink="/auth/login">
          Đăng nhập
        </button>
      </div>

    </div>
  </div>
</nav>

  <div class="container-outlet">
    <router-outlet></router-outlet>
  </div>
</div>

