<div class="flex flex-wrap h-full mt-9 p-3">
  <div class="w-full md:w-2/12">
    <!-- First component with 2 columns -->
    <div class="w-full min-h-[50vh] max-h-[75vh] overflow-y-auto">
      <div class="title p-3 text-blue-600 text-xl font-medium">Danh sách sinh viên {{studentList.length > 0 ? '(' + studentList.length + ')' : ''}}</div>
      <div class="students-list px-2">
        <mat-card *ngFor="let student of studentList"
         class="student-item mat-elevation-z0 flex justify-start items-center student-item rounded-xl border border-gray-300 cursor-pointer mt-2 hover:shadow-md"
         [class.bg-blue-500]="student._id === selectedStudent._id"
         [class.text-white]="student._id === selectedStudent._id"
         [class.hover:bg-blue-400]="student._id === selectedStudent._id"
         [class.hover:bg-gray-200]="student._id !== selectedStudent._id"
         (click)="onChangeStudent(student)">
          <mat-card-header class="w-full">
            <div mat-card-avatar class="student-avatar flex items-center rounded-full bg-white">
              <img [src]="student?.avatar ?? '../../../../assets/picture/default-avatar.svg'" alt="avatar" class="object-cover w-full h-full rounded-full" />
            </div>
              <mat-card-title>{{student?.fullName}}</mat-card-title>
              <mat-card-subtitle class="text-xs mt-1"
              [class.text-gray-200]="student._id === selectedStudent._id">{{student?.class}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="w-full md:w-4/12 px-2">
    <!-- Second component with 5 columns -->
    <div class="w-full rounded-xl border border-gray-300 min-h-[50vh]">
      <div class="mb-4 p-3 bg-blue-600 text-white rounded-tl-xl rounded-tr-xl">Thông tin sinh viên</div>
      <form class="form-wrapper p-3 ">
        <ng-container [formGroup]="studentForm">
          <div class="input-field w-full gap-2">
            <mat-form-field class="lg:w-2/3 w-full">
              <mat-label>Họ tên </mat-label>
              <input matInput placeholder="Nhập họ tên" formControlName="fullName" readonly>
            </mat-form-field>
            <mat-form-field class="lg:w-1/3 w-full">
              <mat-label>Lớp </mat-label>
              <input matInput placeholder="Nhập  lớp" formControlName="class" readonly>
            </mat-form-field>
          </div>
          <div class="input-field w-full gap-2">
            <mat-form-field class="w-full">
              <mat-label>Email </mat-label>
              <input matInput placeholder="email" formControlName="email" readonly>
            </mat-form-field>
          </div>
          <div class="input-field w-full gap-2">
            <mat-form-field class="lg:w-2/3 w-full">
              <mat-label>Ngành </mat-label>
              <mat-select [panelClass]="'hidden'" formControlName="major" placeholder="Chọn ngành học">
                <mat-option [value]="major._id" *ngFor="let major of majorList">{{major.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="lg:w-1/3 w-full">
              <mat-label>MSSV </mat-label>
              <input matInput placeholder="Nhập mã số " formControlName="code" readonly>
            </mat-form-field>
          </div>
        </ng-container>

        <ng-container [formGroup]="detailThesisForm" >
          <div class="mb-3 mt-1 text-gray-600">Thông tin đề tài</div>
        <div class="input-field w-full gap-2">
          <mat-form-field class="lg:w-1/3 w-full">
            <mat-label>Lĩnh vực </mat-label>
            <input matInput placeholder="Nhập lĩnh vực" formControlName="type">
          </mat-form-field>
          <mat-form-field class="lg:w-2/3 w-full">
            <mat-label>Tên đề tài </mat-label>
            <input matInput placeholder="Nhập đề tài" formControlName="topic">
          </mat-form-field>
        </div>
        <div class="input-field w-full gap-2">
          <mat-form-field class="w-full">
            <mat-label>Tên đề tài (Tiếng Anh) </mat-label>
            <input matInput placeholder="Nhập đề tài" formControlName="topicEng">
          </mat-form-field>
        </div>
        <div class="input-field w-full gap-2">
          <mat-form-field class="w-full">
            <mat-label>Mô tả </mat-label>
            <textarea matInput placeholder="Nhập mô tả" formControlName="description"></textarea>
          </mat-form-field>
        </div>
        <div class="mb-3 mt-1 text-gray-600">Trạng thái luận văn</div>
        <div class="input-field w-full gap-2">
          <mat-form-field class="w-full">
            <mat-label>Trạng thái </mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let status of thesisStatusArray" [value]="status">{{status | thesisStatus}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        </ng-container>
        <div class="flex justify-end items-center gap-4">
          <button class="custom-btn rounded-xl" mat-flat-button (click)="onGoBack()">Huỷ</button>
          <button class="custom-btn rounded-xl bg-blue-600 text-white" mat-flat-button
          (click)="onSubmit($event)">Cập nhật</button>
        </div>
      </form>
    </div>
  </div>
  <div class="w-full md:w-6/12 px-2" >
    <!-- Third component with 5 columns -->
    <div class="w-full bg-gray-500 min-h-[50vh] rounded-xl" *ngIf="selectedThesis?.url; else emptyDocs">
      <!-- iframe to see pdf document -->
      <iframe
        [src]="selectedThesis?.url | safe:'resourceUrl' "
        class="w-full min-h-[80vh] ref-doc"
        frameborder="0"
      ></iframe>
    </div>
    <ng-template #emptyDocs>
      <div class="w-full rounded-xl border border-gray-300">
        <div class="text-gray-600 min-h-[80vh] text-center text-xl mt-3 flex items-center justify-center">
          <span>Chưa có tài liệu nào được tải lên</span>
        </div>
      </div>
    </ng-template>
  </div>
</div>
