<div class="flex flex-wrap h-full mt-9 p-3">
  <div class="w-full md:w-2/12">
    <!-- First component with 2 columns -->
    <div class="w-fullmin-h-[50vh]">
      <div class="title">Danh sách sinh viên</div>
      <div class="students-list">
        <mat-card *ngFor="let student of studentList"
         class="student-item mat-elevation-z0 flex justify-start items-center student-item rounded-xl border border-gray-300 hover:bg-gray-200 cursor-pointer"
         (click)="onChangeStudent(student)">
          <mat-card-header class="w-full">
            <div mat-card-avatar class="student-avatar flex items-center">
              <img src="../../../../assets/picture/default-avatar.svg" alt="avatar" />
            </div>
              <mat-card-title>{{student.fullName}}</mat-card-title>
              <mat-card-subtitle>{{student.class}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="w-full md:w-5/12 px-2">
    <!-- Second component with 5 columns -->
    <div class="w-full rounded-xl px-2 py-3 border border-gray-300 min-h-[50vh]">
      <form class="form-wrapper">
        <ng-container [formGroup]="studentForm">
          <div class="text-gray-600 mb-4 ">Thông tin sinh viên</div>
          <div class="input-field w-full gap-2">
            <mat-form-field class="lg:w-2/3 w-full">
              <mat-label>Họ tên </mat-label>
              <input matInput placeholder="Nhập họ tên" formControlName="fullName" readonly>
            </mat-form-field>
            <mat-form-field class="lg:w-1/3 w-full">
              <mat-label>Lớp </mat-label>
              <input matInput placeholder="Nhập  lớp" formControlName="class" readonly>
            </mat-form-field>
          </div>
          <div class="input-field w-full gap-2">
            <mat-form-field class="lg:w-2/3 w-full">
              <mat-label>Ngành </mat-label>
              <mat-select formControlName="major" placeholder="Chọn ngành học">
                <mat-option [value]="major._id" *ngFor="let major of majorList">{{major.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="lg:w-1/3 w-full">
              <mat-label>MSSV </mat-label>
              <input matInput placeholder="Nhập mã số " formControlName="code" readonly>
            </mat-form-field>
          </div>
        </ng-container>

        <ng-container [formGroup]="detailThesisForm" >
          <div class="mb-3 mt-1 text-gray-600">Thông tin đề tài</div>
        <div class="input-field w-full gap-2">
          <mat-form-field class="lg:w-1/3 w-full">
            <mat-label>Lĩnh vực </mat-label>
            <input matInput placeholder="Nhập lĩnh vực" formControlName="type">
          </mat-form-field>
          <mat-form-field class="lg:w-2/3 w-full">
            <mat-label>Tên đề tài </mat-label>
            <input matInput placeholder="Nhập đề tài" formControlName="topic">
          </mat-form-field>
        </div>
        <div class="input-field w-full gap-2">
          <mat-form-field class="w-full">
            <mat-label>Tên đề tài (Tiếng Anh) </mat-label>
            <input matInput placeholder="Nhập đề tài" formControlName="topicEng">
          </mat-form-field>
        </div>
        <div class="input-field w-full gap-2">
          <mat-form-field class="w-full">
            <mat-label>Mô tả </mat-label>
            <textarea matInput placeholder="Nhập mô tả" formControlName="description"></textarea>
          </mat-form-field>
        </div>
        <div class="mb-3 mt-1 text-gray-600">Trạng thái luận văn</div>
        <div class="input-field w-full gap-2">
          <mat-form-field class="w-full">
            <mat-label>Trạng thái </mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let status of thesisStatusArray" [value]="status">{{status | thesisStatus}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        </ng-container>
        <div class="flex justify-end items-center gap-4">
          <button class="custom-btn rounded-xl" mat-flat-button>Huỷ</button>
          <button class="custom-btn rounded-xl bg-blue-600 text-white" mat-flat-button
          (click)="onSubmit($event)">Cập nhật</button>
        </div>
      </form>
    </div>
  </div>
  <div class="w-full md:w-5/12 px-2">
    <!-- Third component with 5 columns -->
    <div class="w-full bg-gray-500 min-h-[50vh]">
      <!-- iframe to see pdf document -->
      <iframe
        src="https://docs.google.com/gview?url=https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf&embedded=true"
        class="w-full min-h-[50vh]"
        frameborder="0"
      ></iframe>
    </div>
  </div>
</div>
