<div class="milestone-wrapper max-w-4xl mx-auto pt-5 p-3">
  <div class="milestone-header">
    <div class="milestone-title flex md:justify-between items-center flex-col md:flex-row justify-center mb-5">
    <div class="list-title pb-3 mt-8 text-blue-800 text-2xl">
      Danh sách mốc thời gian
    </div>
      <button mat-raised-button color="primary" class="add-btn bg-blue-600 ml-3" (click)="onAddMilestone()">
        <mat-icon>add</mat-icon>
        Thêm mốc thời gian
      </button>
    </div>
    <div [formGroup]="filterOptionForm"
      class="search-wrapper lg:w-1/2 w-full p-3 lg:flex block gap-2 justify-start items-center">
      <mat-form-field floatLabel="always" appearance="outline" class="w-full" subscriptSizing="dynamic">
        <mat-label>Niên khoá</mat-label>
        <mat-select placeholder="Chọn niên khoá" formControlName="schoolYear">
          <mat-option [value]="null">Chọn niên khoá</mat-option>
          <mat-option [value]="item" *ngFor="let item of schoolYear">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field floatLabel="always" appearance="outline" class="lg:w-1/2 w-full mt-3 lg:mt-0" subscriptSizing="dynamic">
        <mat-label>Học kỳ</mat-label>
        <mat-select placeholder="Chọn học kỳ" formControlName="semester">
          <mat-option [value]="null">Chọn học kỳ</mat-option>
          <mat-option [value]="1">1</mat-option>
          <mat-option [value]="2">2</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="milestone-list grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-2 px-2">
    <ng-container *ngIf="milestonesList && milestonesList.length > 0">
      <ng-container *ngFor="let milestone of milestonesList">
        <app-milestone-card
        [milestone]="milestone"
        (editeMilestone)="onEditMilestone($event)"
        (deleteMilestone)="onDeleteMilestone($event)"
        ></app-milestone-card>
      </ng-container>
    </ng-container>

    <ng-container  *ngIf="!milestonesList || milestonesList.length <= 0">
      <div class="flex justify-center items-center w-full h-full col-span-3 mt-7">
        <div class="text-gray-500 text-xl">Bạn chưa tạo mốc thời gian nào trong học kỳ hiện tại</div>
      </div>
    </ng-container>


  </div>
</div>
