<div class="milestone-wrapper max-w-4xl mx-auto pt-5">
  <div class="milestone-header">
    <div class="milestone-title flex justify-end items-center px-4 mt-5">
      <button mat-raised-button color="primary" class="add-btn bg-blue-600" (click)="onAddMilestone()">
        <mat-icon>add</mat-icon>
        Thêm mốc thời gian
      </button>
    </div>

  </div>
  <div *ngIf="milestonesList && milestonesList.length > 0" class="list-title pb-3 mt-8 text-blue-800 text-xl">
    Danh sách mốc thời gian
  </div>
  <div class="milestone-list grid lg:grid-cols-3 grid-cols-2 gap-2 px-2">
    <ng-container *ngIf="milestonesList && milestonesList.length > 0">
      <ng-container *ngFor="let milestone of milestonesList">
        <app-milestone-card
        [milestone]="milestone"
        (editeMilestone)="onEditMilestone($event)"
        (deleteMilestone)="onDeleteMilestone($event)"
        ></app-milestone-card>
      </ng-container>
    </ng-container>

    <ng-container  *ngIf="!milestonesList || milestonesList.length <= 0">
      <div class="flex justify-center items-center w-full h-full col-span-3 mt-7">
        <div class="text-gray-500 text-xl">Bạn chưa tạo mốc thời gian nào trong học kỳ hiện tại</div>
      </div>
    </ng-container>


  </div>
</div>
