<div class="topic-wrapper max-w-7xl mx-auto">
  <mat-tab-group  [selectedIndex]="0" animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="registering" [class.hidden]="hasApprovedRequest">
      <ng-template mat-tab-label>
        Đăng ký đề tài
      </ng-template>
      <div class="tab-content">
        <ng-template matTabContent>

            <div class="result-list mt-10 grid grid-cols-12 gap-2">
              <!-- major list mobile -->
              <div class="teacher-list-dropdown col-span-12 p-3 lg:hidden block">
                <div class="title text-blue-600 text-xl">Danh sách Khoa</div>
                <mat-form-field class="w-full mt-2" subscriptSizing="dynamic">
                  <mat-select [value]="selectedMajor?._id" panelClass="panel-custom">
                    <mat-option *ngFor="let major of majorList" (click)="selectMajor(major)" [value]="major._id">
                      {{major.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <!-- end majorList mobile -->

              <!-- pending teacher list -->
              <div class="teacher-list lg:col-span-4 col-span-12 p-3 lg:block hidden">
                <div class="title text-blue-600 text-xl">Danh sách Khoa</div>
                <div class=" py-2 px-2 md:mr-8 mt-3">
                  <div *ngFor="let major of majorList" (click)="selectMajor(major)">
                    <div
                      class="teacher-card rounded-xl border border-gray-400 mb-3 p-4 cursor-pointer flex justify-between items-center"
                      [class.hover:bg-gray-100]="major._id !== selectedMajor._id"
                      [ngClass]="{'bg-blue-500 text-white hover:bg-blue-500' : major?._id === selectedMajor?._id}">
                      <div class="teacher-card__name">{{major.name}}</div>
                      <span class="font-semibold flex items-center">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="topic-list lg:col-span-8 col-span-12 p-3">
                <div class="flex justify-between">
                  <div class="title text-blue-600 text-xl">Danh sách giảng viên hướng dẫn</div>
                </div>
                <div class="lg:py-2 px-2 mt-3">
                  <div class="topic" *ngIf="teacherList && teacherList.length > 0; else emptyTeacher">
                    <ng-container *ngFor="let teacher of teacherList">
                      <div
                        class="topic-subscribtion border border-gray-200 flex justify-between items-center rounded-xl hover:bg-gray-100 mb-3 line-clamp-1 p-3 cursor-pointer">
                        <div class="topic-info_wrapper flex flex-col">
                          <span class="topic-teacher">
                            Giảng viên: <span class="text-blue-500">{{teacher?.fullName}}</span>
                          </span>
                          <div class="topic-name">
                            Email: <span class="text-gray-500">{{teacher?.email}}</span>
                          </div>
                        </div>
                        <button mat-button class="rounded-xl" color="accent" (click)="onRegisterTopic(teacher)" *ngIf="!registeredWithTeacher(teacher) && !hasApprovedRequest">
                          <mat-icon matPrefix>edit</mat-icon>
                          Đăng ký
                        </button>
                        <button mat-button class="rounded-xl" color="accent" disabled *ngIf="registeredWithTeacher(teacher) || hasApprovedRequest">
                          <mat-icon matPrefix>edit</mat-icon>
                          Đăng ký
                        </button>
                      </div>
                    </ng-container>
                  </div>
                  <ng-template #emptyTeacher>
                    <div class="text-gray-600 text-center mt-3">Không có giảng viên nào hướng dẫn trong kỳ này</div>
                  </ng-template>
                </div>
              </div>
            </div>
            <!-- end pending teacher list -->
        </ng-template>
      </div>
      </mat-tab>

      <mat-tab label="registered">
      <ng-template mat-tab-label>
        <span>Đề tài đã đăng ký</span>
      </ng-template>
      <div class="tab-content">
        <ng-template matTabContent>
          <div class="result-list mt-10 flex justify-center items-start gap-2 flex-col">
            <div class="lg:py-2 px-2 mt-3 w-full">
              <div class="topic mb-4" *ngIf="approvedRequest && approvedRequest.length > 0">
                <ng-container *ngFor="let pending of approvedRequest">
                    <app-pending-card
                    [pending]="pending"
                    (onEdit)="onEditTopic($event)"
                    (onCancel)="cancelRegister($event)"
                    ></app-pending-card>
                </ng-container>
              </div>
              <div class="topic mb-4" *ngIf="pendingRequest && pendingRequest.length > 0 && approvedRequest.length <= 0">
                <div class="col-span-12 pb-2">
                  <span class="text-xl text-gray-700 font-medium" >Đề tài chờ duyệt</span> <span class="text-sm" [matBadge]="pendingRequest.length" matBadgeOverlap="false" matBadgeSize="small"></span>
                </div>
                <ng-container *ngFor="let pending of pendingRequest">
                    <app-pending-card
                    [pending]="pending"
                    (onEdit)="onEditTopic($event)"
                    (onCancel)="cancelRegister($event)"
                    ></app-pending-card>
                </ng-container>
              </div>
              <div class="topic mb-4" *ngIf="rejectedRequest && rejectedRequest.length > 0 && approvedRequest.length <= 0">
                <div class="col-span-12 pb-2">
                  <span class="text-xl text-gray-700 font-medium">Đề tài bị từ chối</span>
                  <span class="text-sm" [matBadge]="rejectedRequest.length" matBadgeOverlap="false" matBadgeSize="small"></span>
                </div>
                <ng-container *ngFor="let pending of rejectedRequest">
                    <app-pending-card
                    [pending]="pending"
                    (onEdit)="onEditTopic($event)"
                    (onCancel)="cancelRegister($event)"
                    ></app-pending-card>
                </ng-container>
              </div>

              <div *ngIf="approvedRequest.length <= 0 && pendingRequest.length <= 0 && rejectedRequest.length <= 0">
                <div class="text-gray-600 text-center mt-3">Bạn chưa đăng ký hướng dẫn với giảng viên nào</div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </mat-tab>


  </mat-tab-group>

</div>
