<div class="topic-wrapper mt-5 max-w-7xl mx-auto p-2">
  <div class="topic-header flex justify-between items-center">
    <mat-form-field appearance="outline" class="-mb-5">
      <mat-label>Lọc đề tài</mat-label>
      <mat-select panelClass="panel-custom">
        <mat-option *ngFor="let food of [1, 2, 3, 4,5 ,56 ]" [value]="food">
          {{food}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="add-btn w-1/5">
      <mat-icon>add</mat-icon>
      Thêm đề tài
    </button>
  </div>
  <div class="topic-main flex gap-4">
    <div class="topic-tag w-1/4 sticky top-[65px]">
      <div class="topic-tag-title flex justify-between py-1 px-3 items-center bg-blue-600 text-white text-xl text-center rounded-t-xl">
        <span>Chủ đề</span>
        <button mat-icon-button><mat-icon>add</mat-icon></button>
      </div>
      <div class="topic-tag-list max-h-96  border border-gray-200 rounded-b-xl overflow-hidden">
        <div class="topic-tag-item p-2 cursor-pointer hover:bg-gray-100 flex items-center justify-between">
          <span>Kiểm thử</span>
          <mat-icon matSuffix color="warn">close</mat-icon>
        </div>
        <div class="topic-tag-item p-2 cursor-pointer hover:bg-gray-100 flex items-center justify-between">
          <span>Web Application</span>
          <mat-icon matSuffix color="warn">close</mat-icon>
        </div>
        <div class="topic-tag-item p-2 cursor-pointer hover:bg-gray-100 flex items-center justify-between">
          <span>Machine Learning</span>
          <mat-icon matSuffix color="warn">close</mat-icon>
        </div>
      </div>
    </div>
    <div class="topic-list w-3/4">
      <div class="topic-list-header text-blue-700 text-2xl">
        Danh sách đề tài
      </div>

      <div class="topic-element">
        <div class="topic-tag-title text-blue-700 text-lg">
          Kiểm thử
        </div>
        <div class="topic-tag-list">
          <mat-card class="mat-elevation-z0 topic-card p-3 hover:bg-blue-100">
              Xây dựng unit test cho hệ thống
          </mat-card>
          <mat-card class="mat-elevation-z0 topic-card p-3 hover:bg-blue-100">
              Xây dựng unit test cho hệ thống
          </mat-card>
          <mat-card class="mat-elevation-z0 topic-card p-3 hover:bg-blue-100">
              Xây dựng unit test cho hệ thống
          </mat-card>
        </div>
      </div>

      <div class="topic-element">
        <div class="topic-tag-title text-blue-700 text-lg">
          Web Application
        </div>
        <div class="topic-tag-list">
          <mat-card class="mat-elevation-z0 topic-card p-3 hover:bg-blue-100">
              Xây dựng unit test cho hệ thống
          </mat-card>
          <mat-card class="mat-elevation-z0 topic-card p-3 hover:bg-blue-100">
              Xây dựng unit test cho hệ thống
          </mat-card>
          <mat-card class="mat-elevation-z0 topic-card p-3 hover:bg-blue-100">
              Xây dựng unit test cho hệ thống
          </mat-card>
        </div>
      </div>

      <div class="topic-element">
        <div class="topic-tag-title text-blue-700 text-lg">
          Web Application
        </div>
        <div class="topic-tag-list">
          <mat-card class="mat-elevation-z0 topic-card p-3 hover:bg-blue-100">
              Xây dựng unit test cho hệ thống
          </mat-card>
          <mat-card class="mat-elevation-z0 topic-card p-3 hover:bg-blue-100">
              Xây dựng unit test cho hệ thống
          </mat-card>
          <mat-card class="mat-elevation-z0 topic-card p-3 hover:bg-blue-100">
              Xây dựng unit test cho hệ thống
          </mat-card>
        </div>
      </div>

      <div class="topic-element">
        <div class="topic-tag-title text-blue-700 text-lg">
          Web Application
        </div>
        <div class="topic-tag-list">
          <mat-card class="mat-elevation-z0 topic-card p-3 hover:bg-blue-100">
              Xây dựng unit test cho hệ thống
          </mat-card>
          <mat-card class="mat-elevation-z0 topic-card p-3 hover:bg-blue-100">
              Xây dựng unit test cho hệ thống
          </mat-card>
          <mat-card class="mat-elevation-z0 topic-card p-3 hover:bg-blue-100">
              Xây dựng unit test cho hệ thống
          </mat-card>
        </div>
      </div>

      <div class="topic-element">
        <div class="topic-tag-title text-blue-700 text-lg">
          Web Application
        </div>
        <div class="topic-tag-list">
          <mat-card class="mat-elevation-z0 topic-card p-3 hover:bg-blue-100">
              Xây dựng unit test cho hệ thống
          </mat-card>
          <mat-card class="mat-elevation-z0 topic-card p-3 hover:bg-blue-100">
              Xây dựng unit test cho hệ thống
          </mat-card>
          <mat-card class="mat-elevation-z0 topic-card p-3 hover:bg-blue-100">
              Xây dựng unit test cho hệ thống
          </mat-card>
        </div>
      </div>

    </div>
  </div>
</div>
