<div class="wrapper max-w-5xl mx-auto">
  <div class="thesis-info">
    <div class="thesis-info__cover flex justify-center">
      <div class="cover-wrapper rounded-xl overflow-hidden">
        <img src="https://picsum.photos/200/300" alt="cover" />
      </div>
    </div>
    <div class="info-wrapper border border-gray-300 rounded-xl mt-3 p-3">
      <div class="thesis-info__title">
        <span class="text-lg font-bold text-gray-600">Đề tài: </span>
        <span class="text-lg text-gray-500">{{thesisInfo.topic}}</span>
      </div>
      <div class="thesis-info__title-en">
        <span class="text-lg font-bold text-gray-600">Title: </span>
        <span class="text-lg text-gray-500">{{thesisInfo.topicEng}}</span>
      </div>
      <div class="thesis-info__author">
        <span class="text-lg font-bold text-gray-600">Sinh viên thực hiện: </span>
        <span class="text-lg text-gray-500">{{thesisInfo.student.fullName}}</span>
      </div>
      <div class="thesis-info__supervisor">
        <span class="text-lg font-bold text-gray-600">Giảng viên hướng dẫn: </span>
        <span class="text-lg text-gray-500">{{thesisInfo.class.teacher.fullName}}</span>
      </div>
      <div class="thesis-info__status">
        <span class="text-lg font-bold text-gray-600">Trạng thái: </span>
        <span class="text-lg text-gray-500">{{thesisInfo.status | thesisStatus}}</span>
      </div>
    </div>
  </div>
</div>
