.wrapper{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
  background-color: white;
  padding: 16px;

  .doc-view {
    iframe {
      min-height: 80vh;
      width: 100%;
      border-radius: 12px;
    }
  }
  }

