<div class="wrapper max-w-6xl mx-auto lg:flex block">
  <div class="thesis-info lg:w-2/5 w-full" *ngIf="thesisInfo; else nonThesis">
    <div class=" border border-gray-300 rounded-xl mt-3 overflow-hidden">
      <div class="result-title text-lg font-semibold text-white p-3 bg-blue-500">Thông tin luận văn</div>
    <div class="info-wrapper p-3 flex flex-col gap-3">
      <div class="thesis-info__title">
        <span class="text-lg font-bold text-gray-600">Đề tài: </span>
        <span class="text-lg text-gray-500">{{thesisInfo.topic}}</span>
      </div>
      <div class="thesis-info__title-en">
        <span class="text-lg font-bold text-gray-600">Đề tài (tiếng Anh): </span>
        <span class="text-lg text-gray-500">{{thesisInfo.topicEng}}</span>
      </div>
      <div class="thesis-info__author">
        <span class="text-lg font-bold text-gray-600">Sinh viên thực hiện: </span>
        <span class="text-lg text-gray-500">{{thesisInfo.student.fullName}}</span>
      </div>
      <div class="thesis-info__supervisor">
        <span class="text-lg font-bold text-gray-600">Giảng viên hướng dẫn: </span>
        <span class="text-lg text-gray-500">{{thesisInfo.class.teacher.fullName}}</span>
      </div>
      <div class="thesis-info__status">
        <span class="text-lg font-bold text-gray-600">Trạng thái: </span>
        <span class="text-lg text-gray-500">{{thesisInfo.status | thesisStatus}}</span>
      </div>
      <div class="thesis-info__status">
        <span class="text-lg font-bold text-gray-600">Tập tin hiển thị:</span>
        <mat-form-field class="w-full mt-2" subscriptSizing="dynamic" *ngIf="!isCustomFile.value">
          <mat-select [panelClass]="'panel-custom'" placeholder="Chọn tập tin hiển thị" [formControl]="selectedVersion"
            (selectionChange)="onChangeMilestoneFile($event)">
            <mat-option [value]="version" *ngFor="let version of versionsHasDocs; let index=index">
              {{index + 1}}. {{version?.milestone?.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="self-uploadFile mt-2" *ngIf="isCustomFile.value">
          <div class="upload-field w-full flex items-center justify-start bg-gray-100 rounded-xl p-2">
            <input type="file" class="hidden" (change)="onFileSelected($event)" accept=".pdf" #fileUpload>
            <button mat-flat-button color="primary" class="py-6 px-4 rounded-xl max-w-xs"
              *ngIf="!(isShowLoading || fileName)" (click)="fileUpload.click()" [matTooltip]="fileName"
              [matTooltipDisabled]="!fileName">
              <mat-icon>insert_drive_file_outline</mat-icon>
              <span>Chọn tập tin</span>
            </button>
            <div class="flex flex-col" *ngIf="!isShowLoading">
              <span class="line-clamp-1 ml-2">{{fileName ? fileName : "Chưa có tập tin nào được chọn"}}</span>
            </div>

            <div *ngIf="isShowLoading" class="loading-bar flex w-full items-center justify-center">
              <mat-progress-bar class="w-1/2 ml-3 py-2 rounded-2xl" mode="determinate"
                [value]="percentage"></mat-progress-bar>
              <span class="ml-2 font-medium">{{percentage}}%</span>
            </div>

            <div class="ml-2 flex-grow flex justify-end">
              <button *ngIf="!(isShowLoading || !fileName)" mat-icon-button matTooltip="Huỷ" color="warn"
                (click)="clearFileInput()">
                <mat-icon>clear</mat-icon>
              </button>
              <button *ngIf="!(isShowLoading || (!fileName && !(thesisInfo?.url === thesisInfo?.customUrl)) )"
                mat-icon-button color="primary" matTooltip="Tải lên tài liệu"
                (click)="onSubmitFile()">
                <mat-icon>cloud_upload</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="mt-2">
          <mat-checkbox [formControl]="isCustomFile" (change)="onCheckBoxCustomFileChange($event)">
            Tải lên tập tin
          </mat-checkbox>
        </div>
      </div>
    </div>
    </div>
    <div *ngIf="thesisInfo?.protectInfo" class="result-field border border-gray-200 mt-3 rounded-xl overflow-hidden">
      <div class="result-title text-lg font-semibold text-white p-3 bg-blue-500">Thông tin bảo vệ luận văn</div>
      <div class="result-content flex flex-col gap-3 p-3">
        <div class="result-content__place">
          <span class="text-lg font-bold text-gray-600">Địa điểm: </span>
          <span class="text-lg text-gray-500">Phòng {{thesisInfo.protectInfo?.room}}</span>
        </div>
        <div class="result-time">
          <span class="text-lg font-bold text-gray-600">Thời gian: </span>
          <span class="text-lg text-gray-500"> {{thesisInfo.protectInfo?.date | date: 'dd/MM/yyyy'}} - {{thesisInfo.protectInfo?.time}}</span>
        </div>
        <div *ngIf="finalScore" class="result-mark">
          <span class="text-lg font-bold text-gray-600">Điểm số: </span>
          <span class="text-lg text-gray-500"> {{finalScore}} </span>
        </div>

      </div>
    </div>
  </div>
  <div class="lg:w-3/5 w-full doc-view mt-3 px-3" *ngIf="thesisInfo?.url">
    <iframe [src]="thesisInfo.url | safe:'resourceUrl' " ></iframe>
  </div>
  <ng-template #nonThesis>
    <div class="non-thesis flex justify-center items-center rounded-xl border border-gray-300 mt-3 p-3">
      <span class="text-lg text-gray-500">Chưa có đề tài</span>
    </div>
  </ng-template>
</div>
